[submodule "components/mrubyc"]
	path = components/mrubyc
	url = https://github.com/monstaruos/mrubyc.git
	branch = setup2.1_esp32
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/FastLED"]
	path = components/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "components/m5atom"]
	path = components/m5atom
	url = https://github.com/monstaruos/M5Atom.git
	branch = fix/0.0.1/prepare_build
